@font-face {
  font-family: "Proxima Nova";
  font-weight: "400";
  src: url("https://roll20-ux.s3.us-east-2.amazonaws.com/fonts/proxima-nova/proxima-nova-regular.woff2") format("woff2"),
       url("https://roll20-ux.s3.us-east-2.amazonaws.com/fonts/proxima-nova/proxima-nova-regular.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: "600";
  src: url("https://roll20-ux.s3.us-east-2.amazonaws.com/fonts/proxima-nova/proxima-nova-semibold.woff2") format("woff2"),
       url("https://roll20-ux.s3.us-east-2.amazonaws.com/fonts/proxima-nova/proxima-nova-semibold.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-weight: "900";
  src: url("https://roll20-ux.s3.us-east-2.amazonaws.com/fonts/nunito/nunito-black.woff2") format("woff2"),
       url("https://roll20-ux.s3.us-east-2.amazonaws.com/fonts/nunito/nunito-black.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-weight: "700";
  src: url("/https://roll20-ux.s3.us-east-2.amazonaws.com/fonts/nunito/nunito-bold.woff2") format("woff2"),
       url("https://roll20-ux.s3.us-east-2.amazonaws.com/fonts/nunito/nunito-bold.woff") format("woff");
}